body{
    text-align: center;
    margin: 0;
    background-image: url("https://img.freepik.com/premium-photo/ethereal-enchantment-vibrant-forest-assets-unveiled-rayman-legendsinspired-concept-art-with_983420-16185.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#graphic{
    height: 80vh;
    width: 80vw;
}

@media (max-width: 768px) {
    #Graphic {
        width: 90vw; 
        height: 70vh; 
    }
}

/* For smaller screens (e.g., mobile devices) */
@media (max-width: 480px) {
    #Graphic {
        width: 100vw;
        height: 100vh; 
    }
}

/* For very small screens (e.g., very small mobile devices) */
@media (max-width: 320px) {
    #Graphic {
        width: 100vw; 
        height: 100vh; 
    }
}
